# Federico Ariton
# Higher Diploma in Science in Data Analytics for Business
# CA 1
# Student Number:sba2209

In [3]:
# Importing the libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore') 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix

# ARMA, ARIMA, SARIMA

In [2]:
import pandas as pd
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [4]:
ap = pd.read_csv("AirPassengers.csv")

In [5]:
ap.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121